@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 95%; /* Very Light Blue */
    --foreground: 224 71.4% 4.1%; /* Almost Black */
    
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    
    --primary: 231 48% 48%; /* Dark Blue #3F51B5 */
    --primary-foreground: 210 20% 98%; /* Light color for text on blue */
    
    --secondary: 231 48% 90%; /* Slightly darker light blue */
    --secondary-foreground: 220.9 39.3% 11%;
    
    --muted: 220 14.3% 90%; /* Mid Grey */
    --muted-foreground: 220 8.9% 46.1%;
    
    --accent: 45 100% 52%; /* Amber #FFC107 */
    --accent-foreground: 24 9.8% 10%; /* Dark color for text on Amber */
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 220 14.3% 85%;
    --input: 220 14.3% 85%;
    --ring: 231 48% 48%; /* Blue for focus rings */

    --chart-1: 197 37% 24%;
    --chart-2: 45 86% 62%;
    --chart-3: 24 9.8% 10%;
    --chart-4: 230 50% 70%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Sidebar specific theme variables */
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 45 100% 52%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --chart-1: 197 37% 44%;
    --chart-2: 45 86% 72%;
    --chart-3: 24 9.8% 30%;
    --chart-4: 230 50% 50%;
    --chart-5: 27 87% 47%;

    /* Dark Sidebar specific theme variables */
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* Default font for body, can be overridden by .font-body if necessary */
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
